<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Areas de trabajo</h4>
          <ul>
            <li><a href="#">Equidad de Género</a></li>
            <li><a href="#">Política y Gobierno</a></li>
            <li><a href="#">Participación Social</a></li>
            <li><a href="#">Prevención Social</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contactanos</h4>
          <ul>
            <li><a href="#">contacto@progresoparamexico.org</a></li>
            <li><a href="#">Teléfono: 311-264-0466</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Encuentranos</h4>
          <ul>
            <li><a href="#">@Dirección</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Siguenos</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/promexac/"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>