@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.body {
  padding: 1%;
  font-family:'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 250px;
  position: absolute;
  top: 50px;
  right: 50px;
}

.conteo {
  color: #662d91;
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
}

.texto {
  color: #662d91;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}
