<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">

<div>
  <tabset>
    <tab heading="Inicio" id="tab1"><carousel [isAnimated]="true">
      <slide>
        <img src="assets/fondo.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="assets/fondo.png" alt="second slide" style="display: block; width: 100%;">
      </slide>
    </carousel></tab>
    <tab heading="Proceso de denuncia"><accordion>
      <accordion-group heading="Static Header">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
    </accordion></tab>
    <tab heading="Generar denuncia"></tab>
    <tab heading="Información relevante"></tab>
    <tab heading="Acerca de Nosotros"></tab>
    <tab heading="Login"><app-login></app-login></tab>
  </tabset>
</div>