@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.tabs {
    background-color: white;
    color: #262262;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family:'Poppins', sans-serif;
    padding: 5px;
    border: #262262;
    width: 200px;
}
.tabs:hover{
    background-color: #662d91fe;
    color:white;
    font-weight: normal;
    border-radius: 5px;
}
.tabs:focus{
    background-color: #662d91fe;
    color:white;
    font-weight: normal;
    border-radius: 5px;
}
.titulo {
    padding-top: 2%;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 30px;
    color: #262262;
    text-align: center;
    font-family:'Poppins', sans-serif;
}