<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
  crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">

<div>
  <tabset [justified]="true">
    <tab>
      <ng-template tabHeading>
        <button class="tabs">
          <div>Inicio</div>
        </button>
      </ng-template>
      <carousel [isAnimated]="true" [showIndicators]="false">
        <slide>
          <img src="assets/imagen1.jpg" alt="1 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen2.jpg" alt="2 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen3.jpg" alt="3 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen4.jpg" alt="4 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen5.jpg" alt="5 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen6.jpg" alt="6 slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/imagen7.jpg" alt="7 slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
      <app-numero-de-visitas></app-numero-de-visitas>
      <app-numero-de-denuncias></app-numero-de-denuncias>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="titulo">Instituciones con mayor incidencias</div>
      <app-zonas-calientes></app-zonas-calientes>
      <div class="titulo">Tipos y niveles de violencia</div>
      <br>
      <br>
      <br>
      <app-tipos-violencia></app-tipos-violencia>
    </tab>
    <tab>
      <ng-template tabHeading>
        <button class="tabs">
          <div>Proceso de denuncia formal</div>
        </button>
      </ng-template>
      <app-pasos-denuncia></app-pasos-denuncia>
    </tab>
    <tab>
      <ng-template tabHeading>
        <button class="tabs">
          <div>Generar denuncia</div>
        </button>
      </ng-template>
      <app-formulario-denuncia></app-formulario-denuncia>
    </tab>
    <tab>
      <ng-template tabHeading>
        <button class="tabs">
          <div>Acerca de Nosotros</div>
        </button>
      </ng-template>
      <app-acerca-de></app-acerca-de>
    </tab>
    <tab>
      <ng-template tabHeading>
        <button class="tabs">
          <div>Login</div>
        </button>
      </ng-template>
      <app-login></app-login>
    </tab>
  </tabset>
</div>
<app-footer></app-footer>