.tabs {
    background-color: white;
    color: black;
    font-style: bold;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    font-family:'Poppins', sans-serif;
}
.tabs:hover{
    background-color: rgba(111, 0, 155, 0.937);
    color:white;
    font-style: italic
}