.texto {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family:sans-serif;
    color: rgba(0, 0, 0, 0.514);
    font-size: 20px;
}
.titulo {
    font-style: bold;
    font-size: 30px;
    color: rgba(183, 0, 255, 0.937);
    font-style: italic;
}
.contenedor {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.titAccor{
    padding-top: 15px;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-family:sans-serif;
}

.imagen {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}