<div class="texto">
    <div class="titulo" style="text-align: center ;">Quiénes somos</div>
    <br>Somos un equipo multidisciplinario, multicultural; siendo conformada mayoritariamente por mujeres, jóvenes de
    diversas disciplinas de las áreas sociales; con una amplia experiencia en el trabajo de capacitación, gestión,
    desarrollo y ejecución de proyectos dentro del ámbito público y social.<br>

    <br>
    <div class="titulo">Objeto Social:</div>
    <br>Atención y apoyo a personas que se vean impedidas para satisfacer sus necesidades básicas de subsistencia tales
    como
    alimentación, vestido, salud, educación, cultura y capacitación, que necesiten apoyo psicosocial, físico y
    emocional, que no cuenten con los elementos necesarios para su desarrollo integral y social, a través de mejorar y
    modificar las circunstancias que impidan al individuo su desarrollo, otorgando servicios que mejoren las condiciones
    psicosociales, educativas, de salud física, emocional, de autosuficiencia, sustentabilidad, cultura y de orientación
    social.
</div>
<div class="contenedor">
    <accordion [isAnimated]="true">
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <img src="assets/equipo.png" class="imagen">
                <i class="titAccor">Participación Ciudadana</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Promoción de los Cerechos</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Capacitación</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Intervención Social</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Desarrollo Social</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Grupos prioritarios</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Fortalecimiento a la Identidad</i>
            </span>
        </accordion-group>
        <br>
        <accordion-group [panelClass]="customClass">
            <span accordion-heading>
                <i class="titAccor">Equidad Social</i>
            </span>
        </accordion-group>
    </accordion>
</div>