.texto {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    color: rgba(0, 0, 0, 0.514);
    font-size: 20px;
    overflow-x:auto;
}
.titulo {
    font-style: bold;
    font-size: 30px;
    color: rgb(18, 0, 180);
    font-style: normal;
    text-align: center;
}
.contenedor {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}
.titAccor{
    padding-top: 15px;
    font-size: 20px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-style: normal;
}

.imagen {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.seccion {
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
}
.encabezado {
    background-color: rgba(111, 0, 155, 0.937);
    color: white;
    font-style: bold;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
table, th, td {
    border: 1px solid
}
.temxto {
    text-align: center;
    font-size: 30px;
}