.contenedor {
    width: 75%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

.tb {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(300deg, #da1c5c, #262262);
}

.textoContenido {
    text-align: center;
    padding: 1%;
    font-size: 15px;
}

.titAccor{
    font-style: normal;
    padding-top: 15px;
    font-size: 20px;
    color: #262262;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}

.titText{
    font-style: normal;
    padding-top: 15px;
    font-size: 20px;
    color: #262262;
    text-align: center;
    font-family:'Poppins', sans-serif;
}