<div class="tb">
    <div class="contenedor">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
            <accordion-group [isOpen]="isFirstOpen" [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 1:</i>
                    <i class="titText"> Ubica la forma que más te conviene para denunciar</i>
                </span>
                <div class="textoContenido">
                    Dependiendo del delito que quieres denunciar, puedes:
                    acudir directamente a la agencia del ministerio público (localiza aquí el más cercano).
                    realizar tu denuncia en línea (consulta aquí si en tu estado puedes hacerlo).
                    realizar tu denuncia anónima llamando al 911 o a la Fiscalía General de la República al
                    800-00-85-400.
                </div>
            </accordion-group>
            <br>
            <accordion-group [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 2:</i>
                    <i class="titText"> Prepara la documentación que necesitas para levantar tu denuncia</i>
                </span>
                <div class="textoContenido">
                    Lleva siempre una identificación oficial y trata de ir acompañado a denunciar.
                    Lleva contigo documentación adicional (en casos de robo te podrían pedir comprobantes de lo que te
                    robaron);
                    encuentra más detalles aquí.
                </div>
            </accordion-group>
            <br>
            <accordion-group [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 3:</i>
                    <i class="titText"> Acude al ministerio público</i>
                </span>
                <div class="textoContenido">
                    Encuentra aquí el ministerio público o la agencia especializada más cercana a ti.
                    Si el delito que quieres denunciar es federal, encuentra aquí la delegación de la Fiscalía General
                    de la
                    República (FGR) más cercana a ti.
                </div>
            </accordion-group>
            <br>
            <accordion-group [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 4:</i>
                    <i class="titText"> Relata cómo sucedió el delito</i>
                </span>
                <div class="textoContenido">
                    Deberás describir cómo sucedió el delito.
                    Deberás brindar todos los detalles: lugar y hora, si hubo testigos, descripción de quien cometió el
                    delito y
                    si existen antecedentes de amenazas o agresiones con esta misma persona (aquí puedes encontrar guías
                    para
                    diversos delitos, cada uno tiene un carnet descargable que puede ayudarte a darle seguimiento a tu
                    denuncia).
                    En caso de requerirse, el ministerio público solicitará que te realicen exámenes médicos y
                    psicológicos.
                </div>
            </accordion-group>
            <br>
            <accordion-group [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 5:</i>
                    <i class="titText"> Medidas especiales (en caso de requerirlas)</i>
                </span>
                <div class="textoContenido">
                    En caso de requerir medidas especiales (por razones de género, discapacidad o por pertenecer a un
                    pueblo
                    o
                    comunidad indígena), la autoridad debe garantizar que tengas acceso a ellas para que puedas
                    denunciar.
                </div>
            </accordion-group>
            <br>
            <accordion-group [panelClass]="customClass">
                <span accordion-heading>
                    <i class="titAccor">Paso 6:</i>
                    <i class="titText"> Da seguimiento a tu denuncia</i>
                </span>
                <div class="textoContenido">
                    Antes de salir del MP, solicita copia de tu carpeta de investigación y anota el número de tu carpeta
                    de
                    investigación (descarga aquí los carnets para dar seguimiento a tu denuncia).
                    Recuerda que tienes derecho a estar informado sobre los avances y las decisiones que tome el
                    ministerio
                    público sobre tu caso y a oponerte a alguna decisión, si no te convence o te perjudica.
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>