/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';

.card.accProceso {
    border-radius: 5px;
}
.panel.accProceso{
    border-radius: 5px;
}
.card.accProceso .card-header {
    border-radius: 5px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    height: fit-content;
}

.panel.accAcercaDe {
    border-radius: 5px;
    padding-bottom: 10px;
    border:none;
}
.card.accAcercaDe{
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.514);
}
.card.accAcercaDe .card-header{
    text-align: center;
    border-radius: 5px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #662d91;
}

.panel.accActividades {
    border-radius: 5px;
    padding-bottom: 10px;
    border:none;
}
.card.accActividades{
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.514);
    max-height: 400px;
}
.card.accActividades .card-header{
    text-align: center;
    border-radius: 5px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #662d91;
    width: 600px;
    align-self: center;
}

.panel.accTViolencia {
    border-radius: 5px;
    padding-bottom: 10px;
    border:none;
}
.card.accTViolencia{
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.514);
}
.card.accTViolencia .card-header{
    text-align: center;
    border-radius: 5px;
    height: 50px;
    text-decoration: none;
    width: 500px;
    max-width: 600px;
    align-self: center;
}